<div class="container">
    <div class="row">
        <form name="registrationForm" data-ng-submit="submitForm()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" data-ng-model="user.username" required />
                <span data-ng-show="registrationForm.name.$invalid">Your username is required</span>
                <p><span data-ng-show="registrationForm.name.$dirty">You have sullied my username field!</span></p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" data-ng-model="user.password" required />
                <span ng-show="registrationForm.password.$invalid" class="help-block">Your password is required</span>
            </div>
            
            <button type="submit" class="btn btn-primary" data-ng-disabled="registrationForm.$invalid">Register</button>
        </form>
    </div>
</div>